{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <h1>Registruoti</h1>
        <button class="btn btn-primary" onclick="window.location.href='/register/student'">Studentas</button>
        <button class="btn btn-primary" onclick="window.location.href='/register/lector'">Destitojas</button>
    </div>
{% endblock %}
